# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
/media

# Variables de entorno / credenciales
.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db