{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre Nosotros{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/informacion.css' %}">

<div class="sobre-nosotros">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="un-poco">UN POCO</p>
                <h2>PREMIUM EVENTOS JM</h2>
                <h3>Sobre nosotros</h3>
                <p class="descripcion">
                    PREMIUM EVENTOS JM es una empresa dedicada a la atención de eventos sociales y eventos empresariales. 
                    Contamos con un equipo de profesionales: Chef, maitre, meseros, diseñadores, fotografías y disc-jockey, 
                    para satisfacer cabalmente la atención de su evento soñado. Nos destacamos por un servicio personalizado 
                    con el fin de cuidar del buen manejo de la imagen de nuestra empresa y de los homenajeados.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="vision-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h3 class="text-center">Visión</h3>
                <p class="vision-text">
                    Nuestra visión es ser reconocidos en el corto y mediano plazo como una empresa posicionada; 
                    que marcará la diferencia por su calidad y la experiencia en la prestación de servicios 
                    (eventos sociales y empresariales), que nos garantizarán la permanencia en el mercado. 
                    Contamos con un talento humano altamente calificado y capacitado con los que nuestros clientes 
                    se sentirán como en familia. Garantizar la fidelidad de nuestros clientes con un minucioso 
                    control de calidad, atención y puntualidad al servicio. Verificar los canales de comunicación, 
                    nuestros anfitriones y clientes, estando siempre expectativa del mejoramiento continuo.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}